.wrapper {
  max-width: 550px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  margin: 34px auto;
  padding: 15px 15px;

}
.editDelete {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  border-radius: 5px;

}
.delete {
  box-sizing: border-box;
  height: 31px;
  padding: 0px 17px;
  border: 1px solid red;
  border-radius: 4px;
  align-items: center;
  margin-right: 14px;
  color: #F5222D;
  background-color: #fff;
  cursor: pointer;
}
.edit {
  box-sizing: border-box;
  height: 31px;
  padding: 0px 17px;
  border: 1px solid #52C41A;
  border-radius: 4px;
  align-items: center;
  margin-right: 14px;
  color: #52C41A;
  background-color: #fff;
  cursor: pointer;
}
.spin {
  margin: 0 auto;
}