.body {
  width: 100%;
  height: 95vh;
}
.wrapper {
  width: 384px;
  background: #fff;
  margin: 0px auto;
  margin-top: 60px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 32px;
  font-style: normal;
  font-weight: normal;
}
.name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0px 0px 21px 0px;
  color: #262626;
  align-self: center;
}
.form {
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 8px;
  margin-bottom: 12px;
}
.title {
  color: #262626;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 2px 0px;

}
.danger {
  width: 100%;
}
.error {
  color: #bf1650;
}
.error::before {
  display: inline;
  content: "⚠ ";
}
.button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  transition: all 0.4s ease-in;
  &:hover {
    color: #1890FF;
  }
}
.haveAccount {
  color: #8C8C8C;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  align-self: center;
}
.signIn {
  font-size: 12px;
  line-height: 20px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.submit {
  padding: 0;
  border: none;
  font: inherit;
  color: #fff;
  cursor: pointer;
  width: 320px;
  height: 40px;
  background: #1890FF;
  border-radius: 4px;
  margin: 21px 0px 10px 0px;
  transition: all 0.4s ease-in;
  &:hover {
    background: #0578e4;
  }
  &:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.4;
  }
}
.alert {
  width: 250px;
  margin-left: 40%;
  margin-top: 59px;
}
.alert422 {
  width: 100%;
}
.line {
  width: 320px;
  margin-top: 10px;
  border: 1px solid #E8E8E8;
}
.option {
  cursor: pointer;
  display: flex;
}
.check {
  margin-left: 18px;
  margin-top: 8px;
}
.value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
  transform: translateY(-2px);
}
.processing {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkBox {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #1890FF;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: -1.3em;
}
.processing:checked + .checkBox {
  background: no-repeat center url(../../img/check.svg) #1890FF;;
  border: 1px solid #1890FF;
}
form {
  display: flex;
  flex-direction: column;
}