.bookList {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.book {
  margin-top: 26px;
  margin-left: 16px;
}
.book:last-child {
  margin-bottom: 26px;
}

.select {
  margin-left: 14.5%;
  margin-top: 20px;
}